language: android

android:
  components:
    - platform-tools
    - tools
    - android-28
    - build-tools-28.0.3
    - extra-android-m2repository

script:
    - ./gradlew clean
    - ./gradlew assembleRelease
    - ./gradlew uploadArchives
    - ./gradlew generateBintrayJson

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.gradle

deploy:
  provider: bintray
  file: "bintray.json"
  user: "maxsmirnov92"
  key: $BINTRAY_API_KEY
